#loading {
    text-align: center;
}

.loading-text {
    display: flex;
    position: relative;
    left: 40%;
}

#jan {  
    font-size: 40px;
    position: relative;
    animation-name: animatebottom;
    animation-duration: 0.5s;
}

#ken {
    font-size: 40px;
    position: relative;
    animation-name: animatebottom;
    animation-fill-mode: forwards;
    animation-duration: 0.5s;
    animation-delay: 0.80s;
    opacity: 0;
}

#pon {
    font-size: 40px;
    position: relative; 
    animation-name: animatebottom;
    animation-fill-mode: forwards;
    animation-duration: 0.5s;
    animation-delay: 1.35s;
    opacity: 0;
}

@keyframes 

animatebottom { 
    0% { bottom:-50px; opacity:0 } 
    100% { bottom:0px; opacity:1 }
  }