.button-rock {
    background-image: url("../img/button/rock.png");
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    background-size: 145px 150px;
    font-size: 20px;
    font-weight: bold;    
    text-align: bottom;
    margin-left: 10px;
    margin-right: 10px;
    gap: 1rem;
    width: 200px;
    padding-top: 200px;
    color: white;
}

.button-paper {
    background-image: url("../img/button/paper.png");
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    background-size: 145px 150px;
    font-size: 20px;
    font-weight: bold;    
    text-align: bottom;
    margin-left: 10px;
    margin-right: 10px;
    gap: 1rem;
    width: 200px;
    padding-top: 200px;
    color: white;
}

.button-scissor {
    background-image: url("../img/button/scissor.png");
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    background-size: 145px 150px;
    font-size: 20px;
    font-weight: bold;    
    text-align: bottom;
    margin-left: 10px;
    margin-right: 10px;
    gap: 1rem;
    width: 200px;
    padding-top: 200px;
    color: white;
}

.button-gun {
    background-image: url("../img/button/gun.png");
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    background-size: 145px 150px;
    font-size: 20px;
    font-weight: bold;    
    text-align: bottom;
    margin-left: 10px;
    margin-right: 10px;
    gap: 1rem;
    width: 200px;
    padding-top: 200px;
    color: white    ;
}

/* universal */

.unv-btn {
    margin:  0, 0, 10px, 10px;
    border-radius: 15%;
    transition-delay: 1s;
}

.unv-btn:hover {
    opacity: 0.85;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.unv-btn:active {
    background-color: rgb(180, 180, 180);
    color: black;
}

@media screen and (max-width: 600px){
    .unv-btn {
        text-align: left;
        background-size: 50px;
        width: 50px;
        padding-left: 17%;
        padding-right: 17%;
        padding-top: 20%;
    }
}