.header-image{
    width: 5%;
    border: 1px solid black;
    border-radius: 50px;
    margin-bottom: 10px;
}

#header{
    display: flex;
    border-bottom: 2px solid black ;
    padding-top: 5px;
    margin-bottom: 20px;
}

.word{
    position: relative;
    bottom: -3px;
    left: 5px;
    font-size: 20px;
    width: 15%; 
}

.back-button{
    border-radius: 5px;
    margin-top: 50px;
    border: none;
    font-size: 17px;
    background-color: black;
    color: white;
    width: 8%;
    padding: 5px 0;
}

.back-button:hover{
    opacity: .80;
}

.back-button:active{
    opacity: 1;
}
/* battle result stylesheet */
.battle-result-tie{
    text-align: center;
    padding: 25px 70px;
    margin-top: 0;
    width: 20px;
    height: 20px;
    font-size: 20px;
    border: 3px solid black;
    border-radius: 10px;
}

.battle-result-lose{
    text-align: center;
    padding: 25px 70px;
    margin-top: 0;
    width: 20px;
    height: 20px;
    font-size: 20px;
    background-color: lightcoral;
    border: 3px solid red;
    border-radius: 10px;
}

.battle-result-win {
    text-align: center;
    padding: 25px 70px;
    margin-top: 0;
    width: 20px;
    height: 20px;
    font-size: 20px;
    background-color: lightgreen;
    border: 3px solid green;
    border-radius: 10px;   
}

@media screen and (max-width: 800px) {
    .header-image{
        width: 10%;
    }

    .word{
        width: 20%;
    }
}
